<div class="cred-wrapper">
  <div class="cred-head">
    <div class="audrix-logo-wrapper">
      <img src="/assets/images/audrix.png" width="48" height="48">
      <a ng-href="/">
          <span class="audrix-logo">
            Audrix
          </span>
      </a>
    </div>
  </div>
  <div class="cred-body-wrapper">
    <div layout="column" flex layout-align="center center" class="login">
      <md-card class="md-whiteframe-4dp cred-card">
        <md-toolbar class="cred-header-box">
          <div layout="column" layout-padding layout-align="center center">
            <div>
              <md-icon class="logo">home</md-icon>
            </div>
            <div class="md-headline md-padding cred-heading">Credentials</div>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="login">
            <md-input-container class="md-block">
              <label for="username">Username</label>
              <input type="username" name="username" ng-model="username" ng-blur="usernameCheck()" required />
              <span ng-if="status" style="color:#64DD17;font-family:'Exo 2', sans-serif;font-size:12px;">{{message}}</span>
              <span ng-if="!status" style="color:#f50057;font-family:'Exo 2', sans-serif;font-size:12px;">{{message}}</span>
            </md-input-container>
            <md-input-container class="md-block">
              <label for="password">Password</label>
              <input type="password" name="password" ng-model="password" required />
            </md-input-container>
            <md-input-container class="md-block">
              <div layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" flex="50" ng-click="submitCreds()">Next</md-button>
              </div>
            </md-input-container>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
