<div class="landing-page-wrapper" style="display: flex;" ng-style="landingPageCss" ng-show="!displayInFullView">
  <div class="playlist-wrapper" ng-class="{mainOverlay: isSidebarOpen === true}">
    <div class="latest_tracks_head">
      <div>Explore Music</div>
    </div>
    <div layout="row" layout-wrap class="latest_tracks_wrapper">
      <div class="progresscircular-display-block">
        <div ng-show="progressCircular" class="loader-circular">
          <md-progress-circular ng-disabled="!progressCircular" class="md-accent" md-diameter="40px">
          </md-progress-circular>
        </div>
      </div>
      <div ng-repeat="track in playlist" class="latest_tracklist">
        <div class="latest_track_thumbnail_wrapper">
          <div class="thumbnail_container">
            <div>
              <img
              class="latest_track_thumbnail"
              ng-src="{{trackThumbnailBaseUrl}}{{track.trackId}}" alt="{{track.title}}"
              imageonload
              responsive
              loader-img="/assets/images/tail-spin.svg"
              bg-color="transparent"
              transition-duration="1s"
              animation="fillIn"
              animation-duration="1s"
              easing="ease-out"
              />
            </div>
            <div class="overlay">
              <div class="icons">
                <i class="material-icons pauseIcon" style="font-size: 65px;" ng-if="track.isPlaying"  ng-click="clickToPlay($index,track.trackId,track.md5)">pause</i>
                <i class="material-icons playIcon" style="font-size: 65px;" ng-if="!track.isPlaying"  ng-click="clickToPlay($index,track.trackId,track.md5)"> play_arrow </i>
              </div>
            </div>
          </div>
          <div class="landingPage_trackTitle" title="{{track.title}}">
            {{track.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
