<footer>
    <md-toolbar id="footer">
        <div id="footer_head">
            <div id="footer_element">
                <h5 id="footer_element_head">Features</h5>
                <ul id="footer_element_list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Updates</a></li>
                </ul>
            </div>

            <div id="footer_element">
                <h5 id="footer_element_head">Details</h5>
                <ul id="footer_element_list">
                    <li><a href="#">Specs</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>

            <div id="footer_element">
                <h5 id="footer_element_head">Technology</h5>
                <ul id="footer_element_list">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Patterns</a></li>
                    <li><a href="#">Usage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contracts</a></li>
                </ul>
            </div>

            <div id="footer_element">
                <h5 id="footer_element_head">FAQ</h5>
                <ul id="footer_element_list">
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Answers</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <md-divider id="footer_box_divider"></md-divider>
        <div id="footer_foot">
            <ul id="footer_box">
                <li id="footer_box_link"><a href="#">Help</a></li>
                <li id="footer_box_link"><a href="#">Privacy</a></li>
                <li id="footer_box_link"><a href="#">Terms and Conditions</a></li>
                <li id ="footer-bottom">
                  &copy; audrix.live, All rights reserved
                </li>
            </ul>
        </div>
    </md-toolbar>
</footer>
