<audrix-header></audrix-header>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div id="head_content" layout="row" layout-wrap>
  <div id="head">
    <h1 id="head_heading">
      Machine Learning Based Audio Recommendation Mix
    </h1>
    <h2 id="head_tag">
      Listen what you love
    </h2>
    <md-button id="head_start_button" ng-href  >
      Join Now
    </md-button>
    <br /><br />
    <img id="img-responsive" src="/assets/images/audrixdash.png" alt="" height="300rem" >
  </div>
  <br>
</div>
<audrix-footer></audrix-footer>
